<div *ngIf="data !== null && data.open == true" class="modal-overlay">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="text-transform: uppercase;">
                    Vista Rápida
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="card border-0" style="width: 18rem;" *ngIf="data.content !== null">
                        <img class="card-img-top" src="{{data.content.image.url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Bred for</h5>
                            <p class="card-text">{{data.content.bred_for}}</p>
                            <h5 class="card-title">Temperament</h5>
                            <p class="card-text">{{data.content.temperament}}.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal"
                    style="text-transform:uppercase;">Cerrar</button>
            </div>
        </div>
    </div>
</div>