<div class="row justify-content-center">
    <div class="col-lg-6 col-md-11 col-sm-12 text-center">
        <div class="jumbotron jumbotron-fluid bg-light rounded">
            <h1 class="display-4">Bienvenid@</h1>
            <p class="lead">¡Encuentra perros y alegra tu día!</p>
            <hr class="my-4">
            <p>Para comenzar da click en el botón.</p>
            <button class="btn" [routerLink]="['/list']" routerLinkActive="router-link-active" > Ir a la lista</button>
        </div>
    </div>
</div>